
/*base background color*/
@define-color bg_main rgba(30, 30, 46, 0.8);
@define-color bg_main_tooltip rgba(50, 13, 62, 0.8);


/*base background color of selections */
@define-color bg_hover rgba(250, 200, 250, 0.3);
/*base background color of active elements */
@define-color bg_active rgba(171, 131, 179, 0.5);

/*base border color*/
@define-color border_main rgba(250, 200, 250, 0.2);

/*text color for entries, views and content in general */
@define-color content_main rgba(250, 200, 250, 1);
/*text color for entries that are unselected */
@define-color content_inactive rgba(250, 200, 250, 0.25);

* {
	text-shadow: none;
	box-shadow: none;
    border: none;
    border-radius: 0;
	font-family: "JetBrainsMono Nerd Font";
    font-weight: 600;
    font-size: 13.5px;
}

window#waybar {
  background:  @bg_main;
  border-top: 1px solid @border_main;
  color: @content_main;
}

tooltip {
  background: @bg_main_tooltip;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: @border_main;
}
tooltip label{
  color: @content_main;
}

#custom-os_button {
	font-family: "JetBrainsMono Nerd Font";
  font-size: 24px;
	padding-left: 8px;
	padding-right: 20px;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#custom-os_button:hover {
  background:  rgba(237, 61, 91, 1);
	color: rgba(237, 61, 91, 1);
}

#workspaces {
  color: transparent;
	margin-right: 1.5px;
	margin-left: 1.5px;
}
#workspaces button {
  padding: 3px;
  color: @content_inactive;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#workspaces button.active {
	color: @content_main;
	border-bottom: 3px solid white;
}
#workspaces button.focused {
  color: @bg_active;
}
#workspaces button.urgent {
	background:  rgba(255, 200, 0, 0.35);
	border-bottom: 3px dashed @warning_color;
	color: @warning_color;
}
#workspaces button:hover {
  background: @bg_hover;
	color: @content_main;
}

#taskbar {
}

#taskbar button {
	min-width: 130px;
	border-bottom: 3px solid rgba(255, 255, 255, 0.3);
	margin-left: 2px;
	margin-right: 8px;
  padding-left: 8px;
  padding-right: 8px;
  color: @content_main;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#taskbar button.active {
	border-bottom: 3px solid white;
  background: @bg_active;
}

#taskbar button:hover {
	border-bottom: 3px solid white;
  background: @bg_hover;
	color: @content_main;
}

#cpu, #disk, #memory {
	padding:5px;
}

#temperature {
	color: transparent;
	font-size: 0px;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#temperature.critical {
	padding-right: 3px;
	color: @warning_color;
	font-size: initial;
	border-bottom: 3px dashed @warning_color;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#window {
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

#tray{
  margin-left: 8px;
  margin-right: 8px;
}
#tray > .passive {
	border-bottom: none;
}
#tray > .active {
	border-bottom: 3px solid white;
}
#tray > .needs-attention {
	border-bottom: 3px solid @warning_color;
}
#tray > widget {
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#tray > widget:hover {
	background: @bg_hover;
}

#pulseaudio {
	font-family: "JetBrainsMono Nerd Font";
	padding-left: 8px;
    padding-right: 0px;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#pulseaudio:hover {
 	background: @bg_hover;
}

#network {
	padding-left: 0px;
    padding-right: 8px;
}

#language {
  padding-left: 8px;
  padding-right: 4px;
}

#clock {
  padding-right: 5px;
  padding-left: 4px;
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#clock:hover {
	background: @bg_hover;
}
